# ============================================================
# Bridge to mahmad
# ============================================================

connection mahmad

#Paste your mahmad Mosquitto MQTT broker address in the form of <IPv6 address>:<port>

address 2600:1f10:4390:9801:2e6d:3664:f4fe:f646:1883

# Specifying which topics are bridged and in what fashion
topic from_cloud in 1
topic to_cloud out 0

# Setting protocol version explicitly
bridge_protocol_version mqttv311
bridge_insecure false

# Bridge connection name and MQTT client Id, enabling the connection automatically when the broker starts.
cleansession true
clientid bridgeawsiot
start_type automatic
notifications false
log_type all

# ============================================================
# Certificate based SSL/TLS support
# ============================================================

#Path to the rootCA
#bridge_cafile /etc/mosquitto/certs/rootCA.pem

# Path to the PEM encoded client certificate
#bridge_certfile /etc/mosquitto/certs/cert.crt

# Path to the PEM encoded client private key
#bridge_keyfile /etc/mosquitto/certs/private.key

#END of bridge.conf
